.wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 15vmin;
  background: white;
  text-align: center;
  display: inline-block;
}

h1 {
  color: #00826c;
  line-height: 15vmin;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (min-width: 800px) {
  .wrapper {
    display: none !important;
  }
}
