.navbar {
  width: 240px;
  background: white;
}

button {
  position: fixed;
  float: left;
  left: 5vmin;
  top: 5vmin;
  border: none;
  background: none;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 5vmin;
  margin-left: 5vmin;
}

li {
  margin: 1vmin 5vmin;
}

a {
  text-decoration: none;
  color: #646464;
}

a:hover,
a:active {
  color: #00826c !important;
}

a:visited {
  color: #646464;
}

.selected {
  color: #00826c !important;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vmin;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: cover;
}

picture + picture {
  margin-top: 5vmin;
}
