.layout {
    display: flex;
    flex-direction: row;
}

.navbar {
    width: 300px;
    height: 100vh;
    position: sticky;
    top: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 5vmin;
    margin-left: 5vmin;
}

li {
    margin: 1vmin 5vmin;
}

a {
    text-decoration: none;
    color: #646464;
}

a:hover,
a:active {
    color: #00826C !important;
}

a:visited {
    color: #646464;
}

.selected {
    color: #00826C !important;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5vmin;
}

img {
    max-width:100%;
    height:auto;
    max-height: 90vh;
    object-fit: cover;
}

picture + picture {
    margin-top: 5vmin;
}