.imageWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  object-fit: scale-down;
  margin: 0 5vmin;
}

img {
  max-width: 100%;
  height: auto !important;
  max-height: 90vh;
}
